﻿@page "/Dashboard/{ClientId}/{DashboardId}"
@attribute [Authorize]
@using LogsMonitor.Data.Entity

@if (_dashboard != null)
{
    <Row>
        <Container Fluid="true" Style="max-height: calc(100vh - 56px); max-width: calc(100wh) ;padding: 2rem; display: flex; justify-content: center;">
            <div class="card card-dropshadow" style="width: 100%; padding: 10px;">
                <div style="width: 100%; display: inline-block; position: relative;">
                    <h2 Style="float: left; margin: auto">@_dashboard.Name</h2>
                    @if (_dashboard.IsAdminOwner)
                    {
                        <Button @onclick="() => ShowModal(_settingModalRef)" Style="float: right; margin: auto"><i class="fas fa-cog"></i></Button>
                    }
                </div>
                <LineGraph ClientId="@ClientId" DashboardId="@DashboardId" @ref="_lineGraph" />
            </div>
        </Container>
    </Row>
    <Modal @ref="_settingModalRef">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle Style="">Dashboard Settings</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@_dashboard">
                    <Divider DividerType="DividerType.TextContent" Text="Dashboard Name" />
                    <Validation>
                        <Field>
                            <TextEdit @bind-Text="@_dashboard.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Divider DividerType="DividerType.TextContent" Text="Graph Settings" />
                    <Field>
                        <FieldLabel>X Axis Scale</FieldLabel>
                        <Select @bind-SelectedValue="@_dashboard.TimeScale">
                            <SelectItem Value="XAxisTimeScale.Minute">Minutes</SelectItem>
                            <SelectItem Value="XAxisTimeScale.Hour">Hours</SelectItem>
                            <SelectItem Value="XAxisTimeScale.Day">Days</SelectItem>
                        </Select>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@_dashboard.ShowTotalLogs">Total Logs</Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@_dashboard.ShowErrors">Errors Logs</Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@_dashboard.ShowWarnings">Warnings Logs</Check>
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@_dashboard.ShowInformation">Information Logs</Check>
                    </Field>
                    <Divider DividerType="DividerType.TextContent" Text="Filter Settings" />
                    <Field>
                        <FieldLabel>Log Identifier</FieldLabel>
                        <TextEdit @bind-Text="@_dashboard.LogIdentifier" />
                    </Field>
                    <Field>
                        <Check TValue="bool" @bind-Checked="@_dashboard.LogIdentifierExact">Exact Match</Check>
                    </Field>
                    <Divider DividerType="DividerType.TextContent" Text="Popup Settings" />
                    <Field>
                        <Field>
                            <Check TValue="bool" @bind-Checked="@_dashboard.Popup">Enabled Popup Alert</Check>
                        </Field>
                    </Field>
                    @if (_dashboard.Popup)
                    {
                        <Field>
                            <FieldLabel>Number to Trigger</FieldLabel>
                            <NumericEdit TValue="int" Value="@_dashboard.NumberToTrigger" ValueChanged="UpdateTriggerNumber"></NumericEdit>
                        </Field>
                    }
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="() => HideModal(_alertModal)">Cancel</Button>
                <Button Color="Color.Success" @onclick="SaveSettings">Save</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Modal @ref="_alertModal">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle Style="">WARNING</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <span>@_dashboard.NumberActually Logs</span>
                <br/>
                <span>In the last minute!</span>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="() => HideModal(_alertModal)">Dismiss</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}