﻿<Modal @ref="modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle Style="">Create Team!</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody Style="text-align: center">
            <Field>
                <FieldLabel>Team Name</FieldLabel>
                <TextEdit Placeholder="Email" @bind-Text="@_name" />
            </Field>
            @if (!string.IsNullOrEmpty(_error))
            {
                <Label style="color: red">@_error</Label>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancel</Button>
            <Button Color="Color.Success" Clicked="@CreateClient">Create</Button>
        </ModalFooter>
    </ModalContent>
</Modal>