﻿<Modal @ref="modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle Style="">Join Team</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody Style="text-align: center">
            <Field>
                <FieldLabel>Team's Invite Token</FieldLabel>
                <TextEdit Placeholder="Invite Token" @bind-Text="@_joinCode"/>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Cancel</Button>
            <Button Color="Color.Success" Clicked="@JoinClient">Join</Button>
        </ModalFooter>
    </ModalContent>
</Modal>