﻿@page "/account"
@attribute [Authorize]
@layout InputLayout

<Container Fluid="true" Style="padding: 15px">
    <h1>yourAccount;</h1>
    <Divider DividerType="DividerType.TextContent" Text="Account Info"/>
    <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@_accountModel">
        <div style="width: 80%; margin: 0 auto;">
            <Validation>
                <Field>
                    <FieldLabel style="margin: 0;">Email Address</FieldLabel>
                    <TextEdit Placeholder="Email" @bind-Text="@_accountModel.Email" ReadOnly="true">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel style="margin: 0;">First Name</FieldLabel>
                    <TextEdit Placeholder="First Name" @bind-Text="@_accountModel.FirstName">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel style="margin: 0;">Last Name</FieldLabel>
                    <TextEdit Placeholder="Family Name" @bind-Text="@_accountModel.LastName">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            @if (_accountUpdateSuccess)
            {
                <Label style="color: green">Account Information Has Been Updated!</Label>
            }
        </div>
        <Divider DividerType="DividerType.TextContent" Text="Update Password"/>
        <div style="width: 80%; margin: 0 auto;">
            <Validation>
                <Field>
                    <TextEdit Placeholder="Password" Role="TextRole.Password" @bind-Text="@_accountModel.CurrentPassword">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <TextEdit Placeholder="New Password" Role="TextRole.Password" @bind-Text="@_accountModel.NewPassword">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <TextEdit Placeholder="Confirm New Password" Role="TextRole.Password" @bind-Text="@_accountModel.ConfirmNewPassword">
                        <Feedback>
                            <ValidationError/>
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            @if (_passwordUpdateSuccess)
            {
                <Label style="color: green">Password Has Been Updated!</Label>
            }
        </div>
        <Divider/>
        <div style="width: 80%; margin: 0 auto;">
            @if (!string.IsNullOrEmpty(_error))
            {
                <Label style="color: red">@_error</Label>
            }
            <Field style="margin: 0px">
                <Button Color="Color.Primary" Clicked="SubmitAsync" Type="ButtonType.Submit" Style="width: 100%">Update</Button>
            </Field>
        </div>
    </Validations>
</Container>
