﻿<Modal @ref="_modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle Style="">Create Dashboard</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Team: </FieldLabel>
                <Select @bind-SelectedValue="@_clientId">
                    @if (_clients != null)
                    {
                        @foreach (var client in _clients)
                        {
                            <SelectItem Value="@client.Id">@client.Name</SelectItem>
                        }
                    }
                </Select>
            </Field>
            <Field>
                <FieldLabel>Dashboard Name</FieldLabel>
                <TextEdit @bind-Text="@_name" Placeholder="Dashboard Name: "></TextEdit>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" @onclick="HideModal">Cancel</Button>
            <Button Color="Color.Success" @onclick="Create">Create</Button>
        </ModalFooter>
    </ModalContent>
</Modal>