﻿@page "/register"
@layout PortalLayout

<Container Fluid="true" Style="margin-top: 10px">
    <h1>Register</h1>
    <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@_registerUser">
        <Validation>
            <Field>
                <FieldLabel>Account Info</FieldLabel>
                <TextEdit Placeholder="Email" @bind-Text="@_registerUser.Email">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field>
                <TextEdit Placeholder="First Name" @bind-Text="@_registerUser.FirstName">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field>
                <TextEdit Placeholder="Surname" @bind-Text="@_registerUser.LastName">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <hr />
        <Validation>
            <Field>
                <FieldLabel>Password Info</FieldLabel>
                <TextEdit Placeholder="Password" @bind-Text="@_registerUser.Password">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field>
                <TextEdit Placeholder="Confirm Password" @bind-Text="@_registerUser.ConfirmPassword">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <span>You will receive a confirmation email shortly after registering!</span>
        @if (!string.IsNullOrEmpty(_error))
        {
            <Label style="color: red">@_error</Label>
        }
        <Field>
            <Button Color="Color.Primary" Disabled="!CheckAllPopulated()" Clicked="SubmitAsync" Type="ButtonType.Submit" style="margin-top: 16px">Register</Button>
        </Field>
    </Validations>
</Container>