﻿@page "/ConfirmEmail/{UserId}/{Token}"


<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container drop-shadow-container" style="max-width: 600px" >
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-8 col-sm-10 mx-auto text-center p-4">
                    <h5 class="display-4 py-2 text-truncate">Email Has been confirmed!</h5>
                    <button type="button" class="btn btn-primary" @onclick="NavigateToLogin">Login</button>
                </div>
            </div>
        </div>
    </div>
</section>
