﻿@page "/Team/{ClientId}"
@using LogsMonitor.Data.Entity
@attribute [Authorize]
@layout InputLayout
@inject IJSRuntime JS

@if (_clientModel.Client != null)
{
    <Container Fluid="true" Style="padding: 15px">
        <div style="width: 100%; display: inline-block; position: relative;">
            <h1 Style="float: left; margin: auto">@_clientModel.Client.Name;</h1>
            <div Style="float: right; margin: auto; position: absolute; right: 0; bottom: 0;">
                @if (_clientModel.Client.Owner != null)
                {
                    if (_clientModel.Client.Owner.Equals(_currentUser, StringComparison.CurrentCultureIgnoreCase))
                    {
                        <Tooltip Text="Delete Team" Style="margin-left: 10px">
                            <Button Color="Color.Danger" @onclick="() => ShowModal(deactivateClientModalRef)" Type="ButtonType.Submit">
                                <i class="fas fa-trash"></i>
                            </Button>
                        </Tooltip>
                    }
                    else
                    {
                        <Tooltip Text="Leave Team">
                            <Button Color="Color.Secondary" @onclick="() => ShowModal(leaveTeamModalRef)" Type="ButtonType.Submit" Disabled="DisallowLeave()">
                                <i class="fas fa-sign-out-alt"></i>
                            </Button>
                        </Tooltip>
                    }
                }
            </div>
        </div>
        <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@_clientModel">
            <Divider DividerType="DividerType.TextContent" Text="Team Info" />
            <Validation>
                <Field>
                    <FieldLabel>Team Name</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit ReadOnly="_clientModel.ReadOnly" Placeholder="Team Name" @bind-Text="@_clientModel.Client.Name" />
                        </Addon>
                        @if (_clientModel.Admin)
                        {
                            <Addon AddonType="AddonType.End">
                                <Button Color="Color.Primary" Clicked="@UpdateClientName">
                                    Update
                                </Button>
                            </Addon>
                        }
                    </Addons>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel>Team Invite Code</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <Button Color="Color.Secondary" Clicked="@CopyJoinTokenToClipboard">
                                <i class="@_copyJoinTokenToClipboardClass"></i>
                            </Button>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit ReadOnly="true" Placeholder="Invite Token" @bind-Text="@_clientModel.Client.JoinToken" />
                        </Addon>
                        @if (_clientModel.Admin)
                        {
                            <Addon AddonType="AddonType.End">
                                <Tooltip Text="Refresh Invite Token" Placement="Placement.Right">
                                    <Button Color="Color.Primary" Clicked="RefreshJoinToken">
                                        <i class="fas fa-redo-alt"></i>
                                    </Button>
                                </Tooltip>
                            </Addon>
                        }
                    </Addons>
                </Field>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel>JWT Token</FieldLabel>
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <Button Color="Color.Secondary" Clicked="@CopyJwtTokenToClipboard">
                                <i class="@_copyJwtTokenToClipboardClass"></i>
                            </Button>
                        </Addon>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit ReadOnly="true" Placeholder="JWT Token" @bind-Text="@_clientModel.Client.ApiToken" />
                        </Addon>
                        @if (_clientModel.Admin)
                        {
                            <Addon AddonType="AddonType.End">
                                <Tooltip Text="Refresh JWT Token" Placement="Placement.Right">
                                    <Button Color="Color.Danger" @onclick="() => ShowModal(refreshJwtModalRef)">
                                        <i class="fas fa-redo-alt"></i>
                                    </Button>
                                </Tooltip>
                            </Addon>
                        }
                    </Addons>
                </Field>
            </Validation>
        </Validations>
        <Divider DividerType="DividerType.TextContent" Text="Team Members" />
        @if (_clientModel.Members != null)
        {
            <Table Narrow="true" Striped="true" Hoverable="true" Style="margin-top: 25px;">
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>Name</TableHeaderCell>
                        <TableHeaderCell>Email</TableHeaderCell>
                        <TableHeaderCell>Role</TableHeaderCell>
                        @if (_clientModel.Admin)
                        {
                            <TableHeaderCell></TableHeaderCell>
                        }
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (User user in _clientModel.Members)
                    {
                        <TableRow>
                            <TableRowCell>@user.FirstName @user.LastName</TableRowCell>
                            <TableRowCell>@user.Email</TableRowCell>
                            <TableRowCell>
                                @if (_clientModel.Client.Owner.Equals(user.Id, StringComparison.CurrentCultureIgnoreCase))
                                {
                                    <Badge Color="Color.Warning">
                                        <span><b>Owner</b></span>
                                    </Badge>
                                }
                                else if (_clientModel.Client.Admins.Contains(user.Id))
                                {
                                    <Badge Color="Color.Success">
                                        <span><b>Admin</b></span>
                                    </Badge>
                                }
                                else
                                {
                                    <Badge Color="Color.Secondary">
                                        <span><b>Member</b></span>
                                    </Badge>
                                }
                            </TableRowCell>
                            @if (_clientModel.Admin)
                            {
                                <TableRowCell Float="Float.Right">
                                    <Dropdown Disabled="CurrentUserOrAdmin(user.Id)">
                                        <DropdownToggle Color="Color.Secondary" Size="Size.ExtraSmall">
                                            <i class="fas fa-bars"></i>
                                        </DropdownToggle>
                                        <DropdownMenu>
                                            @if (!_clientModel.Client.Admins.Contains(user.Id) && !_clientModel.Client.Owner.Equals(user.Id, StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                <DropdownItem @onclick="() => LeaveClient(user.Id)">Kick</DropdownItem>
                                            }
                                            @if (_clientModel.Client.Owner.Equals(_currentUser, StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                if (_clientModel.Client.Admins.Contains(user.Id))
                                                {
                                                    <DropdownItem @onclick="() => DemoteUser(user.Id)">Demote</DropdownItem>
                                                }
                                                else
                                                {
                                                    <DropdownItem @onclick="() => PromoteUser(user.Id)">Promote</DropdownItem>
                                                }
                                                <DropdownDivider />
                                                <DropdownItem @onclick="() => PromoteUserToOwner(user.Id)">Transfer Ownership</DropdownItem>
                                            }
                                        </DropdownMenu>
                                    </Dropdown>
                                </TableRowCell>
                            }
                        </TableRow>
                    }
                </TableBody>
            </Table>
        }
        else
        {
            <p>Loading...</p>
        }
    </Container>

    <Modal @ref="refreshJwtModalRef">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle Style="">Refresh Api Token Warning</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody Style="text-align: center">
                <p>Refreshing the JWT Token will cause all applications using the current token to break!</p>
                <br />
                <p><b>Are you sure?</b></p>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="() => HideModal(refreshJwtModalRef)">Cancel</Button>
                <Button Color="Color.Danger" Clicked="RefreshJwtToken">Refresh</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Modal @ref="leaveTeamModalRef">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle Style="">Leave Warning</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody Style="text-align: center">
                <p>You are about to leave @_clientModel.Client.Name!</p>
                <br />
                <p><b>Are you sure?</b></p>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="() => HideModal(leaveTeamModalRef)">Cancel</Button>
                <Button Color="Color.Danger" @onclick="() => LeaveClient(_currentUser)">Leave</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>


    <Modal @ref="transferOwnershipModalRef">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle Style="">Transfer Ownership Warning</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody Style="text-align: center">
                <p>You are about to transfer ownership to: @_userToPromote!</p>
                <br />
                <p><b>Are you sure?</b></p>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="() => HideModal(transferOwnershipModalRef)">Cancel</Button>
                <Button Color="Color.Danger" @onclick="@ConfirmPromote">Transfer</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>


    <Modal @ref="deactivateClientModalRef">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle Style="">Deactivation Warning</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody Style="text-align: center">
                <p>You are about to deactivate the Team: @_clientModel.Client.Name!</p>
                <br />
                <p><b>Are you sure?</b></p>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" @onclick="() => HideModal(deactivateClientModalRef)">Cancel</Button>
                <Button Color="Color.Danger" @onclick="@DeleteTeam">Delete</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}

