﻿@page "/ManageClients"
@attribute [Authorize(Roles = "Admin")]
@using LogsMonitor.Data.Entity;
@if (_clients != null)
{
<Row>
    <Container Fluid="true" Style="max-height: calc(100vh - 56px); max-width: calc(100wh) ;padding: 2rem; display: flex; justify-content: center;">
        <div class="card card-dropshadow" style="width: 100%; padding: 15px;">
            <div style="width: 100%; display: inline-block; position: relative;">
                <h1 Style="float: left; margin: auto">Users</h1>
            </div>
            <DataGrid TItem="Client"
                      Data="@_clients"
                      Filterable="true"
                      ShowPager="true"
                      Editable="true"
                      EditMode="DataGridEditMode.Inline"
                      PageSize="10"
                      RowUpdated="@OnRowUpdatedAsync">
                <DataGridColumns>
                    <DataGridColumn TItem="Client" Field="@nameof(Client.Id)" Caption="#" Sortable="false"/>
                    <DataGridColumn TItem="Client" Field="@nameof(Client.Name)" Caption="Name" Editable="true"/>
                    <DataGridColumn TItem="Client" Field="Owner" Caption="Owner" Editable="false"/>
                    <DataGridColumn TItem="Client" Field="@nameof(Client.CreatedDateTime)" Caption="Created" Editable="false"/>
                    <DataGridCheckColumn TItem="Client" Field="@nameof(Client.Active)" Caption="Active" Editable="true"/>
                    <DataGridCommandColumn TItem="Client">
                        <NewCommandTemplate/>
                        <DeleteCommandTemplate/>
                        <EditCommandTemplate>
                            <Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
                        </EditCommandTemplate>
                        <SaveCommandTemplate>
                            <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                        </SaveCommandTemplate>
                    </DataGridCommandColumn>
                </DataGridColumns>
            </DataGrid>
        </div>
    </Container>
</Row>}