﻿@page "/ManageUsers"
@attribute [Authorize(Roles = "Admin")]
@using LogsMonitor.Data.Entity;
@if (_users != null)
{
    <Row>
        <Container Fluid="true" Style="max-height: calc(100vh - 56px); max-width: calc(100wh) ;padding: 2rem; display: flex; justify-content: center;">
            <div class="card card-dropshadow" style="width: 100%; padding: 15px;">
                <div style="width: 100%; display: inline-block; position: relative;">
                    <h1 Style="float: left; margin: auto">Users</h1>
                </div>
                <DataGrid TItem="User"
                          Data="@_users"
                          Filterable="true"
                          ShowPager="true"
                          Editable="true"
                          EditMode="DataGridEditMode.Inline"
                          PageSize="10"
                          RowUpdated="@OnRowUpdatedAsync">
                    <DataGridColumn TItem="User" Field="@nameof(User.Id)" Caption="#" Sortable="false" />
                    <DataGridColumn TItem="User" Field="@nameof(User.FirstName)" Caption="First Name" Editable="true" />
                    <DataGridColumn TItem="User" Field="@nameof(User.LastName)" Caption="Last Name" Editable="true" />
                    <DataGridColumn TItem="User" Field="@nameof(User.Email)" Caption="Email" Editable="true" />
                    <DataGridSelectColumn TItem="User" Field="@nameof(User.Role)" Caption="Role" Editable="true">
                        <EditTemplate>
                            <Select TValue="string" SelectedValue="@((string)( context.CellValue ))" SelectedValueChanged="@(( v ) => context.CellValue = v)">
                                <SelectItem TValue="string" Value="@("User")">User</SelectItem>
                                <SelectItem TValue="string" Value="@("Admin")">Admin</SelectItem>
                            </Select>
                        </EditTemplate>
                    </DataGridSelectColumn>
                    <DataGridCheckColumn TItem="User" Field="@nameof(User.Deleted)" Caption="Deleted" Editable="true"/>
                    <DataGridCommandColumn TItem="User">
                        <NewCommandTemplate/>
                        <DeleteCommandTemplate/>
                        <EditCommandTemplate>
                            <Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
                        </EditCommandTemplate>
                        <SaveCommandTemplate>
                            <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                        </SaveCommandTemplate>
                    </DataGridCommandColumn>
                </DataGrid>
            </div>
        </Container>
    </Row>
}