﻿@page "/{RedirectUrl?}"
@layout PortalLayout

<Container Fluid="true" Style="margin-top: 10px">
    <h1>Login</h1>
    <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@_user">
        <Validation>
            <Field>
                <TextEdit Placeholder="Email" @bind-Text="@_user.Email">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field>
                <TextEdit Placeholder="Password" Role="TextRole.Password" @bind-Text="@_user.Password">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Field>
            <Switch TValue="bool" @bind-Checked="@_rememberMe">Remember Me</Switch>
        </Field>
        @if (!string.IsNullOrEmpty(_error))
        {
            <Label style="color: red">@_error</Label>
        }
        <Field>
            <Button Color="Color.Primary" Disabled="(_user.Email == null && _user.Password == null)" Clicked="SubmitAsync" Type="ButtonType.Submit">Login</Button>
        </Field>
    </Validations>
</Container>
