﻿@using System.Diagnostics
@using Ganss.XSS
@using LogsMonitor.Data.Entity
@inject IJSRuntime JS

<div style="padding-top: 20px;">
    <Accordion>
        <Collapse Visible="@_collapseVisible" style="width: 100%">
            <CollapseHeader >
                <Row>
                    <Column ColumnSize="ColumnSize.Is4">
                        <div style="float: left">
                            <span><b class="text-danger">Error </b>: @error.Identifier</span>
                        </div>
                    </Column>
                    <Column>
                        <div>
                            <span>@error.Summary</span>
                        </div>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4">
                        <div style="float: right">
                            <span>@error.DateTimeOfOccurrence</span>
                            <Button Color="Color.Secondary" Size="Size.Small" Clicked="@ClickedCollapsible">
                                <i class="@_buttonClasses"></i>
                            </Button>
                        </div>
                    </Column>
                </Row>
            </CollapseHeader>
            <CollapseBody>
                <Divider DividerType="DividerType.TextContent" Text="Log Details" />
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Identifier:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@error.Identifier</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Date Time of Occurrence:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@error.DateTimeOfOccurrence</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Summary:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@error.Summary</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Object Dump:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <MemoEdit Rows="@_lines" ReadOnly="true" @bind-Text="@error.ObjectDump" />
                    </Column>
                </Row>
                <Divider DividerType="DividerType.TextContent" Text="Error Details" />
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Severity:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@error.Severity</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Stack Trace:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <p>
                            @_stackTrace
                        </p>
                    </Column>
                </Row>
            </CollapseBody>
        </Collapse>
    </Accordion>
</div>

@code {
    [Parameter] public Error error { get; set; }
    private MarkupString _stackTrace;
    private bool _collapseVisible = false;
    private string _buttonClasses = "fas fa-plus";
    private int _lines = 5;
    protected override Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(error.ObjectDump))
            _lines = 1;

        var sanitizer = new HtmlSanitizer();
        if (error.StackTrace.Contains("\\n"))
            _stackTrace = (MarkupString)sanitizer.Sanitize(error.StackTrace.Replace("\\n", "<br />"));
        else
            _stackTrace = (MarkupString)sanitizer.Sanitize(error.StackTrace.Replace(" at ", "<br /> at "));


        return base.OnInitializedAsync();
    }


    private void ClickedCollapsible()
    {
        if (_collapseVisible)
        {
            _collapseVisible = false;
            _buttonClasses = "fas fa-plus";
        }
        else
        {
            _collapseVisible = true;
            _buttonClasses = "fas fa-minus";
        }
    }


}
