﻿@using LogsMonitor.Data.Entity

<div style="padding-top: 20px;">
    <Accordion>
        <Collapse Visible="@_collapseVisible" style="width: 100%">
            <CollapseHeader>
                <Row>
                    <Column ColumnSize="ColumnSize.Is4">
                        <div style="float: left">
                            <span><b class="text-warning">Warning </b>: @Warning.Identifier</span>
                        </div>
                    </Column>
                    <Column>
                        <div>
                            <span>@Warning.Summary</span>
                        </div>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4">
                        <div style="float: right">
                            <span>@Warning.DateTimeOfOccurrence</span>
                            <Button Color="Color.Secondary" Size="Size.Small" Clicked="@ClickedCollapsible">
                                <i class="@_buttonClasses"></i>
                            </Button>
                        </div>
                    </Column>
                </Row>
            </CollapseHeader>
            <CollapseBody>
                <Divider DividerType="DividerType.TextContent" Text="Log Details" />
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Identifier:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@Warning.Identifier</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Date Time of Occurrence:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@Warning.DateTimeOfOccurrence</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Summary:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <span>@Warning.Summary</span>
                    </Column>
                </Row>
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Object Dump:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <MemoEdit Rows="@_lines" ReadOnly="true" @bind-Text="@Warning.ObjectDump" />
                    </Column>
                </Row>
                <Divider DividerType="DividerType.TextContent" Text="Info Details" />
                <Row style="padding-top: 20px;">
                    <Column ColumnSize="ColumnSize.Is2">
                        <b>Warning Text:</b>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is10">
                        <p>
                            @Warning.WarningText
                        </p>
                    </Column>
                </Row>
            </CollapseBody>
        </Collapse>
    </Accordion>
</div>

@code {
    [Parameter] public Warning Warning { get; set; }
    private bool _collapseVisible = false;
    private string _buttonClasses = "fas fa-plus";
    private int _lines = 5;

    protected override Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Warning.ObjectDump))
            _lines = 1;

        return base.OnInitializedAsync();
    }

    private void ClickedCollapsible()
    {
        if (_collapseVisible)
        {
            _collapseVisible = false;
            _buttonClasses = "fas fa-plus";
        }
        else
        {
            _collapseVisible = true;
            _buttonClasses = "fas fa-minus";
        }
    }
}
