﻿@layout MainLayout
@inherits LayoutComponentBase
<Row>
    <Column>
        <Container Fluid="true" Style="min-height: calc(100vh - 56px); padding-top: 2rem; display: flex; justify-content: center;">
            <div class="card card-dropshadow" style="position: absolute;">
                @Body
            </div>
        </Container>
    </Column>
</Row>