﻿@using LogsMonitor.Utility
@using LogsMonitor.Data.Entity
@inherits LayoutComponentBase
<Layout Sider="true">
    <LayoutSider>
        <LayoutSiderContent>
            <Bar
                Mode="BarMode.VerticalInline"
                CollapseMode="BarCollapseMode.Small"
                Breakpoint="Breakpoint.Desktop"
                NavigationBreakpoint="Breakpoint.Tablet"
                ThemeContrast="ThemeContrast.Dark"
                style="text-align: left"
            >
                <BarBrand>
                    <BarItem>
                        <BarLink To="/">
                            logMaster;
                        </BarLink>
                    </BarItem>
                </BarBrand>
                <BarMenu>
                    <BarStart>
                        @if (_clients != null && _clients.Count > 0)
                        {

                            @foreach (var client in _clients)
                            {
                                <BarItem>
                                    <BarDropdown>
                                        <BarDropdownToggle>
                                            <i class="fas fa-users fa-fw" style="margin: 0"></i>
                                            @client.Name
                                        </BarDropdownToggle>
                                        <BarDropdownMenu>
                                            <BarDropdownItem To=@($"/Logs/{client.Id}")>
                                                <i class="fas fa-align-justify fa-fw" style="margin: 0"></i>
                                                Raw Logs
                                            </BarDropdownItem>
                                            @if (client.Admins.Contains(userId))
                                            {
                                                <BarDropdownItem To=@($"/Alerts/{client.Id}")>
                                                    <i class="fas fa-exclamation-triangle fa-fw" style="margin: 0"></i>
                                                    Alerts
                                                </BarDropdownItem>
                                            }
                                            @if (_dashboards != null && _dashboards.Where(x => x.Value.Id.Equals(client.Id)).Any())
                                            {
                                                <BarDropdown>
                                                    <BarDropdownToggle>
                                                        <i class="fas fa-columns fa-fw" style="margin: 0"></i>
                                                        Dashboards
                                                    </BarDropdownToggle>
                                                    <BarDropdownMenu>
                                                        @foreach (var dashboard in (_dashboards.Where(x => x.Value.Id.Equals(client.Id))))
                                                        {
                                                            <BarDropdownItem @onclick="() => NavigateToDashboard(dashboard.Key.Id, client.Id)">
                                                                <i class="fas fa-long-arrow-alt-right fa-fw" style="margin: 0"></i>
                                                                @dashboard.Key.Name
                                                            </BarDropdownItem>
                                                        }
                                                    </BarDropdownMenu>
                                                </BarDropdown>
                                            }
                                        </BarDropdownMenu>
                                    </BarDropdown>
                                </BarItem>
                            }
                        }
                    </BarStart>
                </BarMenu>
            </Bar>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed="false">
            <Bar Breakpoint="Breakpoint.Desktop"
                 Background="Background.Light"
                 ThemeContrast="ThemeContrast.Light">
                <BarToggler />
                <BarMenu>
                    <BarStart>
                        <AuthorizeView>
                            <Authorized>
                                @if (_clients != null && !string.IsNullOrEmpty(userId)) 
                                { 
                                    foreach(var client in _clients)
                                    {
                                        if (client.Admins.Contains(userId))
                                        {
                                            <BarItem>
                                                <BarLink @onclick="@CreateDashboardClicked">Create Dashboard</BarLink>
                                            </BarItem>
                                            break;
                                        }
                                    }
                                }
                            </Authorized>
                        </AuthorizeView>
                    </BarStart>
                    <BarEnd>
                        <BarItem>
                            <AuthorizeView>
                                <Authorized>
                                    <BarDropdown>
                                        <BarDropdownToggle>Teams</BarDropdownToggle>
                                        <BarDropdownMenu>
                                            @foreach (Client client in _clients)
                                            {
                                                var link = "team/" + client.Id;
                                                <BarDropdownItem>
                                                    <BarLink To="@link">@client.Name</BarLink>
                                                </BarDropdownItem>
                                            }
                                            <DropdownDivider/>
                                            <BarDropdownItem>
                                                <BarLink Clicked="JoinClientClicked">Join Team</BarLink>
                                            </BarDropdownItem>
                                            <BarDropdownItem>
                                                <BarLink Clicked="CreateClientClicked">Create Team</BarLink>
                                            </BarDropdownItem>
                                        </BarDropdownMenu>
                                    </BarDropdown>
                                </Authorized>
                            </AuthorizeView>
                        </BarItem>
                        <BarItem>
                            <AuthorizeView Roles="Admin">
                                <Authorized>
                                    <BarDropdown>
                                        <BarDropdownToggle>Admin</BarDropdownToggle>
                                        <BarDropdownMenu>
                                            <BarDropdownItem>
                                                <BarLink To="ManageUsers">Manage Users</BarLink>
                                            </BarDropdownItem>
                                            <BarDropdownItem>
                                                <BarLink To="ManageClients">Manage Clients</BarLink>
                                            </BarDropdownItem>
                                        </BarDropdownMenu>
                                    </BarDropdown>
                                </Authorized>
                            </AuthorizeView>
                        </BarItem>
                        <BarItem>
                            <AuthorizeView>
                                <Authorized>
                                    <BarDropdown>
                                        <BarDropdownToggle><b>@context.User.Identity?.Name</b></BarDropdownToggle>
                                        <BarDropdownMenu>
                                            <BarDropdownItem>
                                                <BarLink To="account">Account</BarLink>
                                            </BarDropdownItem>
                                            <BarDropdownItem>
                                                <BarLink @onclick="@Logout" To="index">Logout</BarLink>
                                            </BarDropdownItem>
                                        </BarDropdownMenu>
                                    </BarDropdown>
                                </Authorized>
                                <NotAuthorized>
                                    <Button Color="Color.Secondary" Type="ButtonType.Link" To="login">Login</Button>
                                    <Button Color="Color.Primary" Type="ButtonType.Link" To="register">Register</Button>
                                </NotAuthorized>
                            </AuthorizeView>
                        </BarItem>
                    </BarEnd>
                </BarMenu>
            </Bar>
        </LayoutHeader>
        <LayoutContent >
            <div style="height: 100%; max-height: 100vh;">
                @Body
            </div>
        </LayoutContent>
    </Layout>
</Layout>

<JoinClientModal @ref="joinClientModal"></JoinClientModal>
<CreateClientModal @ref="createClientModal"></CreateClientModal>
<CreateDashboardModal @ref="createDashboardModal"></CreateDashboardModal>
<style>
    .dropdown-toggle::after {
        content: none;
    }
</style>

