﻿@layout MainLayout
@inherits LayoutComponentBase
<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is8" Style="overflow: hidden; padding: 0px; min-height: calc(100vh - 56px)" class="backgroundimage"/>
        <Column ColumnSize="ColumnSize.Is4" Style="padding: 15px;">
            @Body
        </Column>
    </Row>
</Container>