﻿@page "/Logs/{ClientId}"
@attribute [Authorize]
@using LogsMonitor.Data.Entity

<Container Fluid="true">
    <Row>
        <Column ColumnSize="ColumnSize.Is4" Style="">
            <Container Fluid="true" Style="max-height: calc(100vh - 56px); padding-top: 20px; display: flex;">
                <div class="card card-dropshadow" style="width: 100%;">
                    <Container Fluid="true" Style="padding: 15px">
                        <h1>Filters</h1>
                        <Divider DividerType="DividerType.TextContent" Text="Standard Filters" />
                        <Field>
                            <FieldLabel style="margin: 0;">Lower Date Bound</FieldLabel>
                            <DateEdit TValue="DateTime?" InputMode="DateInputMode.DateTime" DateChanged="OnLowerDateChanged" Date="_logsModel.LowerBoundDateTime" />
                        </Field>
                        <Field>
                            <FieldLabel style="margin: 0;">Upper Date Bound</FieldLabel>
                            <DateEdit TValue="DateTime?" InputMode="DateInputMode.DateTime" DateChanged="OnUpperDateChanged" Date="_logsModel.UpperBoundDateTime" />
                        </Field>
                        <Field>
                            <FieldLabel style="margin: 0;">Identifier</FieldLabel>
                            <TextEdit Placeholder="First Name" @bind-Text="@_logsModel.Identifier" />
                            <Check TValue="bool" @bind-Checked="@_logsModel.IdentifierExact">Exact Match</Check>
                        </Field>
                        <Field>
                            <FieldLabel style="margin: 0;">Summary</FieldLabel>
                            <TextEdit Placeholder="First Name" @bind-Text="@_logsModel.Summary" />
                            <Check TValue="bool" @bind-Checked="@_logsModel.SummaryExact">Exact Match</Check>
                        </Field>
                        <Field>
                            <FieldLabel style="margin: 0;">Log Type</FieldLabel>
                            <Select @bind-SelectedValue="@_logsModel.LogType">
                                <SelectItem Value="1">All</SelectItem>
                                <SelectItem Value="2">Error</SelectItem>
                                <SelectItem Value="3">Warning</SelectItem>
                                <SelectItem Value="4">Information</SelectItem>
                            </Select>
                        </Field>
                        @if (_logsModel.LogType == 2)
                        {
                            <Divider DividerType="DividerType.TextContent" Text="Error Filters" />
                            <Field>
                                <FieldLabel style="margin: 0;">Severity</FieldLabel>
                                <Select @bind-SelectedValue="@_logsModel.Severity">
                                    <SelectItem Value="0">All</SelectItem>
                                    <SelectItem Value="1">Critical</SelectItem>
                                    <SelectItem Value="2">Major</SelectItem>
                                    <SelectItem Value="3">Minor</SelectItem>
                                </Select>
                            </Field>
                            <Field>
                                <FieldLabel style="margin: 0;">Stack Trance</FieldLabel>
                                <MemoEdit @bind-Text="@_logsModel.StackTrace" />
                                <Check TValue="bool" @bind-Checked="@_logsModel.StackTraceExact">Exact Match</Check>
                            </Field>
                        }
                        else if (_logsModel.LogType == 3)
                        {
                            <Divider DividerType="DividerType.TextContent" Text="Warning Filters" />
                            <Field>
                                <FieldLabel style="margin: 0;">Warning Text</FieldLabel>
                                <TextEdit @bind-Text="@_logsModel.WarningText" />
                                <Check TValue="bool" @bind-Checked="@_logsModel.WarningTextExact">Exact Match</Check>
                            </Field>
                        }
                        else if (_logsModel.LogType == 4)
                        {
                            <Divider DividerType="DividerType.TextContent" Text="Information Filters" />
                            <Field>
                                <FieldLabel style="margin: 0;">Info Text</FieldLabel>
                                <TextEdit @bind-Text="@_logsModel.InfoText" />
                                <Check TValue="bool" @bind-Checked="@_logsModel.InfoTextExact">Exact Match</Check>
                            </Field>
                        }
                        <Divider />
                        <Fields>
                            <Field>
                                <Button Color="Color.Secondary" Clicked="ResetFilter" Type="ButtonType.Submit" Style="float: left;" Size="Size.Medium">Reset</Button>
                            </Field>
                            <Field>
                                <Button Color="Color.Primary" Clicked="Filter" Type="ButtonType.Submit" Style="float: right;" Size="Size.Medium">Filter</Button>
                            </Field>
                        </Fields>
                    </Container>
                </div>
            </Container>
        </Column>
        <Column ColumnSize="ColumnSize.Is8" Style="padding-left: 0">
            <div style="overflow-y: auto; width: 100%; max-height: calc(100vh - 56px);">
                @if (_logsModel.Logs != null)
                {
                    @foreach (Log log in _logsModel.Logs)
                    {
                        @if (log.GetType() == typeof(Error))
                        {
                            <ErrorLogCard error="@((Error)log)"></ErrorLogCard>
                        }
                        else if (log.GetType() == typeof(Information))
                        {
                            <InfoLogCard info="@((Information)log)"></InfoLogCard>
                        }
                        else
                        {
                            <WarningLogCard Warning="@((Warning)log)"></WarningLogCard>
                        }
                    }
                }
            </div>
            @if (_logsModel.Logs == null)
            {
                <div class="d-flex justify-content-center" style="display: flex;align-items: center; height:100%">
                    <div class="spinner-border spinner-border-lg" role="status" style="width: 3rem; height: 3rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            }
        </Column>
    </Row>
</Container>