﻿@page "/Alerts/{ClientId}"
@if (_alerts != null)
{
    <Row>
        <Container Fluid="true" Style="max-height: calc(100vh - 56px); max-width: calc(100wh) ;padding: 2rem; display: flex; justify-content: center;">
            <div class="card card-dropshadow" style="width: 100%; padding: 15px;">
                <div style="overflow-y: auto; padding: 1rem; ">
                    <div style="width: 100%; display: inline-block; position: relative;">
                        <h1 Style="float: left; margin: auto">Alerts</h1>
                    </div>
                    <DataGrid TItem="Data.Entity.Alert"
                              Data="@_alerts"
                              Filterable="true"
                              ShowPager="true"
                              Editable="true"
                              EditMode="DataGridEditMode.Inline"
                              NewItemDefaultSetter="@OnAlertNewItemDefaultSetter"
                              PageSize="10"
                              RowUpdated="@OnRowUpdatedAsync"
                              RowInserted="@OnRowInsertedAsync"
                              RowRemoved="@OnRowDeletedAsync"
                              CommandMode="DataGridCommandMode.Default">
                        <DataGridColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.Name)" Caption="Name" Editable="true" />
                        <DataGridSelectColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.LogType)" Caption="Log Type" Editable="true">
                            <EditTemplate>
                                <Select TValue="string" SelectedValue="@((string)( context.CellValue ))" SelectedValueChanged="@(( v ) => context.CellValue = v)">
                                    <SelectItem TValue="string" Value="@("Any")">Any</SelectItem>
                                    <SelectItem TValue="string" Value="@("Error")">Error</SelectItem>
                                    <SelectItem TValue="string" Value="@("Warning")">Warning</SelectItem>
                                    <SelectItem TValue="string" Value="@("Information")">Information</SelectItem>
                                </Select>
                            </EditTemplate>
                        </DataGridSelectColumn>
                        <DataGridColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.LogIdentifier)" Caption="Log Identifier" Editable="true" />
                        <DataGridSelectColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.TimeSpan)" Caption="Time Span (Minutes)" Editable="true">
                            <EditTemplate>
                                <Select TValue="int" SelectedValue="@((int)( context.CellValue ))" SelectedValueChanged="@(( v ) => context.CellValue = v)">
                                    <SelectItem TValue="int" Value="1">1 Minute</SelectItem>
                                    <SelectItem TValue="int" Value="10">10 Minutes</SelectItem>
                                    <SelectItem TValue="int" Value="60">1 hour</SelectItem>
                                </Select>
                            </EditTemplate>
                        </DataGridSelectColumn>
                        <DataGridColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.ThresholdAmount)" Caption="Amount to Trigger" Editable="true" />
                        <DataGridColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.LastTriggered)" Caption="Last Triggered" Editable="true" />
                        <DataGridColumn TItem="Data.Entity.Alert" Field="@nameof(Data.Entity.Alert.CreatedDateTime)" Caption="Created" Editable="true" />
                        <DataGridCommandColumn TItem="Data.Entity.Alert">
                            <NewCommandTemplate>
                                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
                            </NewCommandTemplate>
                            <EditCommandTemplate>
                                <Button Color="Color.Primary" Size="Size.Small" style="margin-right: 2px" Clicked="@context.Clicked">@context.LocalizationString</Button>
                            </EditCommandTemplate>
                            <SaveCommandTemplate>
                                <Button Color="Color.Primary" Size="Size.Small" Clicked="@context.Clicked">@context.LocalizationString</Button>
                            </SaveCommandTemplate>
                            <DeleteCommandTemplate>
                                <Button Color="Color.Danger" Size="Size.Small" Clicked="@context.Clicked">@context.LocalizationString</Button>
                            </DeleteCommandTemplate>
                        </DataGridCommandColumn>
                    </DataGrid>
                </div>
            </div>
        </Container>
    </Row>
}